test/
/demo


# 以 # 开头的是注释

# 以 / 结尾的是目录

# 以 / 开头 防止递归

#以  ! 开头 表示取反

# 可以使用  glob 模式 进行文件和文件夹的匹配（glob 指简化了的正则表达式）
# 星号 * 匹配零个或多个任意字符 
# [abc]匹配 任何一个列在方括号中的字符  （此案例匹配一个 a 或匹配一个 b 或匹配一个 c） 
# 问号 ?  只匹配一个任意字符 
# 两个星号 / 表示匹配 任意中间目录（比如 a/ /z 可以匹配 a/z 、 a/b/z 或 a/b/c/z 等）
# 在方括号中使用 短划线 分隔两个字符，表示所有在这两个字符范围内的都可以匹配（比如 [0-9] 表示匹配所有 0 到 9 的数字）